version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app
    environment:
      - DATABASE_URL=sqlite:///./smart_piggy_bank.db
    command: sh -c "python -c 'from database import engine; from models import Base; Base.metadata.create_all(bind=engine)' && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    restart: always
  
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        - VITE_API_BASE_URL=http://127.0.0.1:8001
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
      - VITE_API_BASE_URL=http://127.0.0.1:8001
    # Для запуска в dev-режиме вне Docker
    # - VITE_API_BASE_URL=http://127.0.0.1:8000
    restart: always

volumes:
  db_data: