@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./static/image/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Добавляем стили для полупрозрачного фона в контейнеры */
header, main, footer {
  background-color: rgb(255 255 255 / 85%);
  backdrop-filter: blur(4px); /* размытие фона для эффекта стекла */
}

/* Для темного режима используем другой цвет фона */
.dark header, .dark main, .dark footer {
  background-color: rgb(17 19 24 / 85%);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}